<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player">
    <uses-permission android:name="android.permission.BLUETOOTH"
                     android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
                     android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
                     android:maxSdkVersion="30"
                     android:minSdkVersion="29"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
                     android:maxSdkVersion="28"
                     android:minSdkVersion="26"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                     android:minSdkVersion="31"
                     android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"
                     android:minSdkVersion="31"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
                     android:minSdkVersion="31"/>
    <!-- application must have ble hardware  -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
  <application
		android:theme="@style/UnityThemeSelector"
		android:icon="@drawable/app_icon"
        android:label="@string/app_name">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>